<!DOCTYPE html>
<html>
<head>
    <title>Emergency Services</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDKwj1fOxCW6VAQOc8djbb0mclhywXUcI&callback=initMap" async defer></script>
</head>
<body>
    <h3>Click on the map to select your position and input emergency details</h3>
    <div id="map" style="height: 500px; width: 100%;"></div>
    <form id="emergencyForm">
        <label for="skills">Required Skills:</label>
        <select id="skills" name="skills" multiple required>
            {% for skill in skills %}
                <option value="{{ skill }}">{{ skill }}</option>
            {% endfor %}
        </select>
        <label for="team_size">Team Size:</label>
        <input type="number" id="team_size" name="team_size" required>
        <button type="submit">Find Nearest Service</button>
    </form>
    <div id="loading">Loading...</div>
    <div id="result"></div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
